extends layout

block content
  if inscriptions && Object.keys(inscriptions).length
    if role == "Superuser"
      form(action="/talleres/taller/campus" method="POST")
        select(name="campus")
          option Nacional
          each c, id in campus
            if campusId == id
              option(selected) #{id}
            else
              option #{id}
        input(type="hidden" name="courseId" value=courseId)
        input(type="submit" value="Filtrar")
    table 
      tr
        th Matrícula
        th Alumno 
        th Estatus
      each inscription, id in inscriptions
        tr 
          td 
            a(href=`/alumno/${id}`) #{inscription.id_estudiante} 
          td 
            p #{inscription.estudiante}
          td 
            p #{inscription.estatus}

  else 
    p No hay alumnos inscritos a ninguna oferta de este taller
