extends layout

block content
  //-ul
    //-if inscriptions 
      //-each inscription, id in inscriptions
        //-li
          //-a(href=`../../alumno/${id}`) #{inscription.id_estudiante} #{inscription.estatus}
    //-else
      //-li Sin estudiantes registrados.
  if inscriptions 
    table 
      tr
        th Alumno 
        th Matrícula
        th Estatus
      each inscription, id in inscriptions
        tr 
          td 
            p #{inscription.estudiante}
          td 
            a(href=`../../alumno/${id}`) #{inscription.id_estudiante} 
          td 
            p #{inscription.estatus}

