extends layout
block content
  if requests.length >= 1
    h1 Inscripciones pendientes
    a(href="solicitudes/descargar")
     button Descargar inscripciones pendientes como archivo
    table 
      tr
        th(rowspan="2") Matrícula
        th(colspan="5") Oferta 
      tr
        th Id
        th Taller
        th Periodo
        th Inicio
        th Fin
      each request in requests
        tr 
          td 
            p #{request.id_estudiante}
          td 
            p #{request.id_oferta}
          td 
            p #{request.taller}
          td 
            p #{request.oferta.periodo}
          td 
            p #{request.oferta.fecha_inicio}
          td 
            p #{request.oferta.fecha_fin}
  else
    h1 No hay inscripciones pendientes 

